/* You can add global styles to this file, and also import other style files */

/* Styles for documents (rosary catechism pages) */
.document h1, .document h2 {
  border-bottom: 1px solid gray;
  font-family: serif;
}

.document h1 {
  font-size: 28.8px;
}

.document h2 {
  font-size: 21px;
}

.document h3 {
  font-weight: bold;
  font-size: 16.8px;
}
