/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 28.8px;
}

h2 {
  font-size: 21px;
}

h1, h2 {
  border-bottom: 1px solid gray;
  font-family: serif;
}

h3 {
  font-size: 16.8px;
}

/* Styles for documents (rosary catechism pages) */
.document h3 {
  font-weight: bold;
}

ul li {
  list-style-type: circle;
}

ul li li {
  list-style-type: disc;
}
