<div class="document">
  <h1>Dedication</h1>

  <ul>
    <!-- For Priests -->
    <li>
      <a [href]="toPriests.path">{{ toPriests.text }}</a>
      <ul>
        <li>
          <a [href]="whyNotOfLittleImportance.path">{{ whyNotOfLittleImportance.text }}</a>
        </li>
        <li>
          <a [href]="whyWasTheRosaryGiven.path">{{ whyWasTheRosaryGiven.text }}</a>
        </li>
        <li>
          <a [href]="howPriestsSpreadDevotion.path">{{ howPriestsSpreadDevotion.text }}</a>
        </li>
        <li>
          <a [href]="howMuchGoodFromPreaching.path">{{ howMuchGoodFromPreaching.text }}</a>
        </li>
        <li>
          <a [href]="whyPreachingIsntEnough.path">{{ whyPreachingIsntEnough.text }}</a>
        </li>
      </ul>
    </li>
    <!-- /For Priests -->

    <!-- For Sinners -->
    <li>
      <a [href]="toSinners.path">{{ toSinners.text }}</a>
      <ul>
        <li>
          <a [href]="sinnersCrown.path">{{ sinnersCrown.text }}</a>
        </li>
        <li>
          <a [href]="rosaryCrown.path">{{ rosaryCrown.text }}</a>
        </li>
        <li>
          <a [href]="cruelThorns.path">{{ cruelThorns.text }}</a>
        </li>
        <li>
          <a [href]="jesusThorns.path">{{ jesusThorns.text }}</a>
        </li>
        <li>
          <a [href]="whatToDoForCrown.path">{{ whatToDoForCrown.text }}</a>
        </li>
        <li>
          <a [href]="whyReciteRosaryEveryDay.path">{{ whyReciteRosaryEveryDay.text }}</a>
        </li>
      </ul>
    </li>
    <!-- /For Sinners -->

    <!-- For Devout Souls -->
    <li>
      <a [href]="toDevoutSouls.path">{{ toDevoutSouls.text }}</a>
      <ul>
        <li>
          <a [href]="willItHinderOtherDevotions.path">{{ willItHinderOtherDevotions.text }}</a>
        </li>
        <li>
          <a [href]="mysticalRoseTree.path">{{ mysticalRoseTree.text }}</a>
        </li>
        <li>
          <a [href]="howToTendToTree.path">{{ howToTendToTree.text }}</a>
        </li>
        <li>
          <a [href]="howItMaintainsDevotions.path">{{ howItMaintainsDevotions.text }}</a>
        </li>
      </ul>
    </li>
    <!-- /For Devout Souls -->
    <!-- For Little Children -->
    <li>
      <app-a-doc [contentItem]="toLittleChildren"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="whatShouldChildrenDo"></app-li-doc>
        <app-li-doc [contentItem]="sistersStory"></app-li-doc>
        <app-li-doc [contentItem]="importanceOfSistersStory"></app-li-doc>
        <app-li-doc [contentItem]="willWeSeeJesusAndMary"></app-li-doc>
      </ul>
    </li>
    <!-- /For Little Children -->
  </ul>

  <h2 [id]="toPriests.id">{{ toPriests.text }}</h2>

  <h3 [id]="whyNotOfLittleImportance.id">{{ whyNotOfLittleImportance.text }}</h3>
  <blockquote>
    <p>
      I beg of you to beware of thinking of the Rosary as something of little importance - as do ignorant
      people, and even several great but proud scholars. Far from being insignificant, the Rosary is a priceless
      treasure which is inspired by God.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="appService.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      A White Rose
    </cite>
  </blockquote>

  <h3 [id]="whyWasTheRosaryGiven.id">{{ whyWasTheRosaryGiven.text }}</h3>
  <p>
    Almighty God has given priests the Rosary because he wants them to use it as a means to
    convert the most hardened sinners and most obstinate heritics.
  </p>

  <h3 [id]="howPriestsSpreadDevotion.id">{{ howPriestsSpreadDevotion.text }}</h3>
  <p>
    Priests must spread devotion to the Rosary by:
  </p>
  <ol>
    <li>Practicing it (saying it every day)</li>
    <li>Preaching it (encourging others to say it)</li>
  </ol>

  <h3 [id]="howMuchGoodFromPreaching.id">{{ howMuchGoodFromPreaching.text }}</h3>
  <blockquote>
    <p>
      God and his blessed Mother will pour abundant grace into his soul, so that he may become God's instrument
      for his glory; and his word, though simple, will do more good in one month than that of other preachers in
      several years.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="appService.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      A White Rose
    </cite>
  </blockquote>

  <h3 [id]="whyPreachingIsntEnough.id">{{ whyPreachingIsntEnough.text }}</h3>
  <p>
    Merely preaching isn't enough because people cannot be expected to act on your advice
    if you do not practice it. No one can give what he does not have: "Jesus began to do and to teach."
    (<i>Acts</i> 1:1)
  </p>

  <h2 [id]="toSinners.id">{{ toSinners.text }}</h2>
  <blockquote>
    <p>
      If you say the Rosary faithfully until death, I do assure you that, in spite of the gravity of your sins
      "you shall receive a never-fading crown of glory." (1 <i>Ptr.</i> 5:4) Even if you are on the brink of damnation, even if you
      have one foot in hell, even if you have sold your soul to the devil as sorcerers do who practice black magic,
      and even if you are a heretic as obstinate as a devil, sooner or later you will be converted and will amend
      your life and save your soul, if - and mark well what I say - if you say the Rosary devoutly every day until
      death for the purpose of knowing the truth and obtaining contrition and pardon for your sins.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="appService.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      A Red Rose
    </cite>
  </blockquote>

  <h3 [id]="sinnersCrown.id">{{ sinnersCrown.text }}</h3>
  <p>
    The roses of unbelievers unrepentant sinners are the pleasures of the flesh, worldly honors and passing riches which wilt and decay in no time.
  </p>

  <h3 [id]="rosaryCrown.id">{{ rosaryCrown.text }}</h3>
  <p>
    The roses of the Holy Rosary "are the Our Father and Hail Mary which we
    have said devoutly over and over again, and to which we have added good penitential acts, will never wilt
    or die, and they will be just as exquisite thousands of years from now as they are today."
    (St. Louis-Marie de Montfort
    <a [href]="appService.secretOfTheRosaryLink">The Admirable Secret of the Rosary, </a> A Red Rose)
  </p>

  <h3 [id]="cruelThorns.id">{{ cruelThorns.text }}</h3>
  <p>
    The crown of roses of sinners is called 'cruel thorns' because they
    prick them during life by giving them pangs of conscience, at their death they pierce them with bitter
    regret and, still worse, in eternity they turn to burning shafts of anger and despair.
  </p>

  <h3 [id]="jesusThorns.id">{{ jesusThorns.text }}</h3>
  <p>
    The crown of roses of the Rosary is called thorns of Jesus Christ because he
    "changes them into roses. If our roses prick us, it is only for a
    short time, and only in order to cure the illness of sin and to save our souls."
  </p>

  <h3 [id]="whatToDoForCrown.id">{{ whatToDoForCrown.text }}</h3>
  <p>
    "So by all means we should eagerly crown ourselves with these roses from heaven, and recite the
    entire Rosary every day, that is to say, three rosaries each of five decades, which are like three little wreaths
    or crowns of flowers."
  </p>

  <h3 [id]="whyReciteRosaryEveryDay.id">{{ whyReciteRosaryEveryDay.text }}</h3>
  <p>
    Sinners should recite the entire Rosary every day to
  </p>
  <ol>
    <li>
      honor the three crowns of Jesus and Mary:
      <ul>
        <li>His crown of grace at the time of His incarnation</li>
        <li>His crown of thorns during His passion</li>
        <li>His crown of glory in Heaven. And the three-fold crown which the Most Blessed Trinity gave Mary in Heaven</li>
      </ul>
    </li>
    <li>
      recieve three crowns from Jesus and Mary:
      <ul>
        <li>A crown of merit during our lifetime</li>
        <li>A crown of peace at our death</li>
        <li>A crown of glory in Heaven</li>
      </ul>
    </li>
  </ol>

  <h2 [id]="toDevoutSouls.id">{{ toDevoutSouls.text }}</h2>
  <blockquote>
    <p>
      This mystical rose tree is Jesus and
      Mary in life, death and eternity.
      Its green leaves are the Joyful Mysteries, the thorns the Sorrowful ones, and the flowers the
      Glorious Mysteries of Jesus and Mary. The buds are the childhood of Jesus and Mary, and the open blooms
      show us both of them in their sufferings, and the full-blown roses symbolize Jesus and Mary in their
      triumph and glory. 
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="appService.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      A Mystical Rose Tree
    </cite>
  </blockquote>

  <h3 [id]="willItHinderOtherDevotions.id">{{ willItHinderOtherDevotions.text }}</h3>
  <p>
    No. It also inclies all to order and purity so, rather, it will maintain and perfect them.
  </p>

  <h3 [id]="mysticalRoseTree.id">{{ mysticalRoseTree.text }}</h3>
  <ul>
    <li>
      Joyful Mysteries: Represented by green leaves and beauty of a rose. The buds are the childhood of Jesus and Mary.
    </li>
    <li>
      Sorrowful Mysteries: Represented by sharp thorns that prick you. The open blooms show Jesus and Mary in their sufferings.
    </li>
    <li>
      Glorious Mysteries: Represented by the flowers. The full-blown roses show Jesus and Mary in their triumph and glory.
    </li>
  </ul>

  <h3 [id]="howToTendToTree.id">{{ howToTendToTree.text }}</h3>
  <p>
    Devout souls tend to this mystical rose tree the same way sinners do: 
  </p>
  <ul>
    <li>Make a resolution to say it every day</li>
    <li>Do good works in imitation of Jesus and Mary in the mysteries</li>
  </ul>

  <h3 [id]="howItMaintainsDevotions.id">{{ howItMaintainsDevotions.text }}</h3>
  <p>
    The Rosary maintains and perfects other devotions by being itself pure and well-ordered. By reciting it and doing good works daily,
    it will attact predestinate and contemplative souls and keep you safe from the wild beasts on the ground. It will allow you to feed on
    the fruit of life, our adorable Jesus, to whom be honour and glory forever and ever. 
  </p>

  <app-h2-doc [contentItem]="toLittleChildren"></app-h2-doc>

  <app-h3-doc [contentItem]="whatShouldChildrenDo"></app-h3-doc>
  <p>
    Children should say at least five mysteries of the Rosary with love and devotion.
  </p>

  <app-h3-doc [contentItem]="sistersStory"></app-h3-doc>
  <p>
    In Paraguay, two sisters were praying the Rosary in front of their house and Mary came and took with her the younger one. The older sister, thinking her younger sister had been kidnapped, told her parents, who had recently converted. Three days later, they found the younger sister at the front door. She said that the woman who she was praying to took her and gave her delicious food to eat and a beautiful baby boy to hold. Her parents told the Jesuit priest who instructed them into their reception into the Church.
  </p>

  <app-h3-doc [contentItem]="importanceOfSistersStory"></app-h3-doc>
  <p>
    The importance of this story is to show children that they should imitate these sisters and pray the Rosary every day. 
  </p>

  <app-h3-doc [contentItem]="willWeSeeJesusAndMary"></app-h3-doc>
  <p>
    Yes, but not necessarily in this life. But after you die you will see them in heaven for eternity. 
  </p>
</div>
