<h2 id="todays-mysteries">Today we pray the <a [href]="mysteryLink">{{ mysterySeries }}</a></h2>
<blockquote>
  <div>
    <img id="virgin-of-apoclipse" src="assets/virgin-of-apoclipse.jpg">
    <p>
    St. Dominic had scarcely finished this prayer when he saw the Blessed Virgin near at hand
    surrounded by a multitude of angels. She struck the possessed man with a golden rod that she held and said,
    "Answer my servant Dominic at once." (It must be noted that the people neither saw nor heard our Lady,
    only St. Dominic.)
    </p>
    <p>
    Then the devils started screaming:
    </p>
    <p>
      "Oh, you who are enemy, our downfall and our destruction, why have you come from heaven to
    torture us so grievously? O advocate of sinners, you who snatch them from the very jaws of hell, you who
    are a most sure path to heaven, must we, in spite of ourselves, tell the whole truth and confess before
    everyone who it is who is the cause of our shame and our ruin? Oh, woe to us, princes of darkness.
    </p>
    <p>
    "Then listen, you Christians. This Mother of Jesus is most powerful in saving her servants from
    falling into hell. She is like the sun which destroys the darkness of our wiles and subtlety. It is she who
    uncovers our hidden plots, breaks our snares, and makes our temptations useless and ineffective.
    </p>
    <p>
    "We have to say, however, reluctantly, that no soul who has really persevered in her service has
    ever been damned with us; one single sigh that she offers to the Blessed Trinity is worth far more than all
    the prayers, desires, and aspirations of all the saints. We fear her more than all the other saints in heaven
    together, and we have no success with her faithful servants.
    </p>
    <p>
    "Many Christians who call on her at the hour of death and who really ought to be damned according
    to our ordinary standards are saved by her intercession. And if that Marietta (it is thus in their fury they
    called her) did not counter our plans and our efforts, we should have overcome the Church and destroyed it
    long before this, and caused all the Orders in the Church to fall into error and infidelity.
    </p>
    <p>
    "Now that we are forced to speak, we must also tell you that nobody who perseveres in saying the
    Rosary will be damned, because she obtains for her servants the grace of true contrition for their sins by
    which they obtain pardon and mercy."
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
      Thirty-third Rose
    </cite>
  </div>
</blockquote>
