<h3>Today we pray the <a [href]="mysteryLink">{{ mysterySeries }}</a></h3>
<blockquote>
  <div>
    <img id="virgin-of-apoclipse" src="assets/virgin-of-apoclipse.jpg">
    <p>
      "Oh, you who are enemy, our downfall and our destruction, why have you come from heaven to
    torture us so grievously? O advocate of sinners, you who snatch them from the very jaws of hell, you who
    are a most sure path to heaven, must we, in spite of ourselves, tell the whole truth and confess before
    everyone who it is who is the cause of our shame and our ruin? Oh, woe to us, princes of darkness.
    </p>
    <p>
    "Then listen, you Christians. This Mother of Jesus is most powerful in saving her servants from
    falling into hell. She is like the sun which destroys the darkness of our wiles and subtlety. It is she who
    uncovers our hidden plots, breaks our snares, and makes our temptations useless and ineffective.
    </p>
    <p>
    "We have to say, however, reluctantly, that no soul who has really persevered in her service has
    ever been damned with us; one single sigh that she offers to the Blessed Trinity is worth far more than all
    the prayers, desires, and aspirations of all the saints. We fear her more than all the other saints in heaven
    together, and we have no success with her faithful servants.
    </p>
    <p>
    "Many Christians who call on her at the hour of death and who really ought to be damned according
    to our ordinary standards are saved by her intercession. And if that Marietta (it is thus in their fury they
    called her) did not counter our plans and our efforts, we should have overcome the Church and destroyed it
    long before this, and caused all the Orders in the Church to fall into error and infidelity.
    </p>
    <p>
    "Now that we are forced to speak, we must also tell you that nobody who perseveres in saying the
    Rosary will be damned, because she obtains for her servants the grace of true contrition for their sins by
    which they obtain pardon and mercy."
    </p>
    <cite>St. Louis-Marie de Montfort, The Admirable Secret of the Rosary, Thirty-third Rose</cite>
  </div>
</blockquote>

<!-- Template stuff -->
<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
