<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
      <hr>
      <footer>
        <div>
          <q>
            Never will anyone who says his Rosary every day become a formal heretic or be led astray by the devil. This is a
            statement which I would sign with my blood.
          </q>
        </div>
        <cite> - St. Louis de Montfort,
          <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
          Twenty-fifth Rose
        </cite>
      </footer>
    </div>
  </div>
</div>
