@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

footer q {
  color: #660000; /* blood red */
  font-weight: bold;
}

.scroll-btn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
}
