<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>A Rosary Catechism</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="page-link" [routerLink]='["/"]' (click)='collapse()'>
                        Home
                    </a>
                </li>
                <li><hr></li>

              <li class="nav-dropdown">
                <fa-icon class="collapse-icon" [icon]="faChevron"></fa-icon>
                <a class="collapse-link"
                   href="javascript:void(0)"
                   (click)="toggleRosaryCatechism()"
                   [attr.aria-expanded]="!isRosaryCatechismCollapsed"
                   aria-controls="rosary-catechism-collapse">
                  Rosary Catechism
                </a>
                <div id="rosary-catechism-collapse" [collapse]="isRosaryCatechismCollapsed">
                  <ul class="nav navbar-nav">
                    <li [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/" + dedicationPath ]' (click)='collapse()'>
                            Dedication
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/" + originAndNamePath ]' (click)='collapse()'>
                            Origin and Name
                        </a>
                    </li>
                    </ul>
                </div>
              </li>

                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + prayersPath ]' (click)='collapse()'>
                        Prayers
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + meditationsPath ]' (click)='collapse()'>
                        Meditations
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + wondersPath ]' (click)='collapse()'>
                        Wonders
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + prayWorthilyPath ]' (click)='collapse()'>
                        Pray it Worthily
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + learnMorePath ]' (click)='collapse()'>
                        Learn More
                    </a>
                </li>
                <li><hr></li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + patronsPath ]' (click)='collapse()'>
                        Patrons
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + quotesPath ]' (click)='collapse()'>
                        Quotes
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + aboutPath ]' (click)='collapse()'>
                        About
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/" + contactPath ]' (click)='collapse()'>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
