<h1>
  Patrons
</h1>
<p>
  These are the patrons of this site because they inspired its creation.
</p>

<h2>Mary, the Mother of God</h2>
<h2>St. Luke</h2>
<p>
  St. Luke the Evangelist was an educated Syrian Gentile who wrote most of the New Testiment (Luke and Acts).

</p>
<p>
  He is my confirmation saint and 
</p>

<h2>St. Louis-Marie de Montfort</h2>
<h2>Servent of God Carlo Acutis</h2>
<p>
  <a href="http://www.carloacutis.com/">His website</a><br>
  <a href="http://www.themarianapparitions.org/en/avm/i-misteri-del-santo-rosario-versione-blu">Rosary Handouts</a>
</p>
