<h1>
  Patrons
</h1>
<p>
  These are the patrons of this site because they inspired its creation.
</p>

<h2>Mary, the Mother of God</h2>
<p>
  Mary, the Mother of God, through her immaculate heart, shows me the way to Jesus. Mary, Mother of God, pray for us.
</p>

<h2>St. Luke</h2>
<p>
  St. Luke the Evangelist, through his intelligence and skill, provides an orderly account and iconography of the chief mysteries of the life of Jesus and Mary. St. Luke, pray for us.
</p>

<h2>St. Louis-Marie de Montfort</h2>
<p>
  St. Louis-Marie de Montfort, though his zeal and prolific writings, reveals true devotion to Mary, especially through the admirable secret of the rosary, for the glory of God Alone.
  St. Louis-Marie de Montfort, pray for us.
</p>

<h2>Servent of God Carlo Acutis</h2>
<p>
  Servent of God Carlo Acutis, through his devotion and skills in computer science, shows us how to use our talents for Christ and his Church. Servent of God Carlo Acutis, pray for us.

</p>
<a href="http://www.carloacutis.com/">His website</a><br>
<a href="http://www.themarianapparitions.org/en/avm/i-misteri-del-santo-rosario-versione-blu">Rosary Handouts</a>

<h2>Bl. Chiara Luce Badano</h2>
<p>
  Bl. Chiara Luce Badano, through her joy and suffering, shows us how to be lights to the world. Bl. Chiara Luce Badano, pray for us.
</p>

