<div class="document">
  <h1>Origin and Name</h1>
  <blockquote>
    <p>
      The surpassing merit of the Rosary as seen in its origin and name.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      First Decade
    </cite>
  </blockquote>
  <ul class="rose-contents">
    <li>
      <a [href]="prayers.path">{{ prayers.text }}</a>
      <ul>
        <li>
          <a [href]="whatIsTheRosary.path">{{ whatIsTheRosary.text }}</a>
        </li>
        <li>
          <a [href]="kindsOfPrayer.path">{{ kindsOfPrayer.text }}</a>
        </li>
        <li>
          <a [href]="vocalPrayers.path">{{ vocalPrayers.text }}</a>
        </li>
        <li>
          <a [href]="mentalPrayers.path">{{ mentalPrayers.text }}</a>
        </li>
        <li>
          <a [href]="fruitOfTheMysteries.path">{{ fruitOfTheMysteries.text }}</a>
        </li>
        <li>
          <a [href]="seriesOfTheRosary.path">{{ seriesOfTheRosary.text }}</a>
        </li>
      </ul>
    </li>
    <li>
      <app-a-doc [contentItem]="origin"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="originOfTheRosary"></app-li-doc>
        <app-li-doc [contentItem]="evolutionOfTheRosary"></app-li-doc>
        <app-li-doc [contentItem]="stDominicStory"></app-li-doc>
      </ul>
    </li>
    <li>
      <app-a-doc [contentItem]="stDominic"></app-a-doc>
      <ul>
        <li>
          <a [href]="whyStDominicRecievedRosary.path">{{ whyStDominicRecievedRosary.text }}</a>
        </li>
        <app-li-doc [contentItem]="notreDameSermonStory"></app-li-doc>
        <li>
          <a [href]="rosaryWeapon.path">{{ rosaryWeapon.text }}</a>
        </li>
        <app-li-doc [contentItem]="whyIsPreachingIneffective"></app-li-doc>
        <li>
          <a [href]="weaponAgainstSin.path">{{ weaponAgainstSin.text }}</a>
        </li>
        <app-li-doc [contentItem]="whyLovePrayer"></app-li-doc>
        <li>
          <a [href]="rainFromHeaven.path">{{ rainFromHeaven.text }}</a>
        </li>
        <li>
          <a [href]="whyPrayHailMaryBeforeSermons.path">{{ whyPrayHailMaryBeforeSermons.text }}</a>
        </li>
        <li>
          <a [href]="whyUrgeTheRosary.path">{{ whyUrgeTheRosary.text }}</a>
        </li>
      </ul>
    </li>
    <!-- Blessed Alan -->
    <li>
      <app-a-doc [contentItem]="blessedAlan"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="whyRosaryWasNeglected"></app-li-doc>
        <app-li-doc [contentItem]="consequenceOfNeglect"></app-li-doc>
        <app-li-doc [contentItem]="whyBlessedAlanChosen"></app-li-doc>
        <app-li-doc [contentItem]="howAlanReceivedMessage"></app-li-doc>
      </ul>
    </li>
    <!-- /Blessed Alan -->

    <!-- Confraternity -->
    <li>
      <app-a-doc [contentItem]="confraternity"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="kindsOfMembership"></app-li-doc>
        <app-li-doc [contentItem]="failMembershipObligations"></app-li-doc>
        <app-li-doc [contentItem]="rosaryClashesWithDuties"></app-li-doc>
        <app-li-doc [contentItem]="unableToSayRosary"></app-li-doc>
        <app-li-doc [contentItem]="failDueToCarelessness"></app-li-doc>
      </ul>
    </li>
    <!-- /Confraternity -->
    
    <!-- Mary's Psalter -->
    <li>
      <app-a-doc [contentItem]="marysPsalter"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="whyMarysPsalter"></app-li-doc>
        <app-li-doc [contentItem]="whyBetterThanPsalms"></app-li-doc>
        <app-li-doc [contentItem]="whyThreeParts"></app-li-doc>
      </ul>
    </li>
    <!-- /Mary's Psalter -->

    <!-- Crown of Roses -->
    <li>
      <app-a-doc [contentItem]="crownOfRoses"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="whatDoesRosaryMean"></app-li-doc>
        <app-li-doc [contentItem]="whyCrownOfRoses"></app-li-doc>
        <app-li-doc [contentItem]="prayersSymbolizedAsRoses"></app-li-doc>
        <app-li-doc [contentItem]="alphonsusStory"></app-li-doc>
        <app-li-doc [contentItem]="youngFrierStory"></app-li-doc>
      </ul>
    </li>
    <!-- /Crown of Roses -->

    <!-- Marvels of the Rosary -->
    <li>
      <app-a-doc [contentItem]="marvelsOfTheRosary"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="stDominicReward"></app-li-doc>
        <app-li-doc [contentItem]="blessedAlanReward"></app-li-doc>
        <app-li-doc [contentItem]="whoOurLadyRewards"></app-li-doc>
        <app-li-doc [contentItem]="kingAlphonsusStory"></app-li-doc>
        <app-li-doc [contentItem]="whyFollowRosaryDevotions"></app-li-doc>
      </ul>
    </li>
    <!-- /Marvels of the Rosary -->

    <!-- Enemies -->
    <li>
      <app-a-doc [contentItem]="enemies"></app-a-doc>
      <ul>
        <app-li-doc [contentItem]="whoAreEnemies"></app-li-doc>
        <app-li-doc [contentItem]="freethinkers"></app-li-doc>
        <app-li-doc [contentItem]="dangerOfFreethinkers"></app-li-doc>
      </ul>
    </li>

    <!-- /Enemies -->
    <li>
      <a [href]="whyPerserveranceIsImportant.path">{{ whyPerserveranceIsImportant.text }}</a>
    </li>
    <li>
      <a [href]="essenceOfRosary.path">{{ essenceOfRosary.text }}</a>
    </li>
  </ul>

  <h2 [id]="prayers.id">{{ prayers.text }}</h2>

  <h3 [id]="whatIsTheRosary.id">{{ whatIsTheRosary.text }}</h3>
  <p>
    The Rosary is a prayer of meditation on the mysteries of the Gospel
  </p>
  <blockquote>
    <p>
      The Rosary is a blessed blending of mental and vocal prayer by which we honour and learn to imitate
      the mysteries and the virtues of the life, death, passion and glory of Jesus and Mary.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      First Rose
    </cite>
  </blockquote>


  <h3 [id]="kindsOfPrayer.id">{{ kindsOfPrayer.text }}</h3>
  <p>
    The Rosary consists of two kinds of prayer: vocal prayer and mental prayer.
  </p>

  <h3 [id]="vocalPrayers.id">{{ vocalPrayers.text }}</h3>
  <p>
    The vocal prayers of the Rosary consists in saying fifteen or twenty decades of the Hail Mary, each headed by an Our Father and followed by a Glory Be to the Father and the optional Fatima prayer.
  </p>
  <p>See the first Rose of <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a></p>

  <h3 [id]="mentalPrayers.id">{{ mentalPrayers.text }}</h3>
  <p>
    The mental prayers of the Rosary consists in meditating upon and contemplating the chief mysteries of the life, death, and glory of Jesus Christ and His Blessed Mother at the same time the vocal prayers are being recited. 
  </p>
  <p>See the first Rose of <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a></p>

  <h3 [id]="fruitOfTheMysteries.id">{{ fruitOfTheMysteries.text }}</h3>
  <p>
    The fruits of the Mysteries of the Rosary are the principle virtues which Jesus and Mary practiced and we seek to imitate.
  </p>
  <p>See the first Rose of <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a></p>

  <h3 [id]="seriesOfTheRosary.id">{{ seriesOfTheRosary.text }}</h3>
  <p>
    The Mysteries of the Rosary are grouped into three or four series of five decades each. Each series covers
    a part of Christ's life. The (optional) Mysteries of Light series was established by St. John Paul II
    in his ensyclical "On the Rosary":
  </p>
  <ol>
    <li>Joyful Mysteries: Mysteries of Jesus's early life and the incarnation</li>
    <li>Mysteries of Light (optional): Mysteries of Jesus's later life and ministry</li>
    <li>Sorrowful Mysteries: Mysteries of Jesus's passion and death</li>
    <li>Glorious Mysteries: Mysteries of Jesus's resurrection and glory</li>
  </ol>


  <app-h2-doc [contentItem]="origin"></app-h2-doc>

  <app-h3-doc [contentItem]="originOfTheRosary"></app-h3-doc>
  <p>
    The origin of the Rosary is the Prayer of Christ and the Angelic Salutation. It was the first prayer and devotion of the faithful and has been in use from the time of the
    Apostles and disciples down to the present. But it has evolved over the centuries and taken upon a more mature form.
  </p>
  <p>See the second Rose of <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a></p>

  <app-h3-doc [contentItem]="evolutionOfTheRosary"></app-h3-doc>
  <p>
    <span class="def">1214:</span>
    The Church received the Rosary in its present form after
    St. Dominic received it from the Blessed Virgin to convert the Albigensian heretics
    and other sinners. (St. Louis-Marie de Montfort, <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a>,
    Second Rose)
  </p>
  <p>
    At this time, it was called the Psalter of Jesus and Mary because it had the same number of Angelic
    Salutations as there are psalms in the Book of the Psalms of David (150). Since simple and uneducated
    people could not say David’s Psalter, they would say the Psalter of Jesus and Mary instead
    (St. Louis-Marie de Montfort, <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary</a>
    , Sixth Rose).
  </p>
  <p>
    <span class="def">1460:</span>
    The Rosary, having lost its first fervor after a century, is restored by Blessed Alan de la Roche’s
    preaching after Our Lord spoke to him in the Sacred Host and reproached him for not preaching the
    Rosary despite his learning and understanding (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a> Fourth Rose).
  </p>
  <p>
    <span class="def">2002:</span>
    St. Pope John Paul II introduced the “Mysteries of Light” (the Luminous Mysteries) as an
    optional series of mysteries in his Apostolic Letter on the Rosary,
    <a [href]="app.onTheRosaryLink">Rosarium Virginis Mariae,</a>
    and provides guidance on how to better pray the Rosary. 
  </p>

  <app-h3-doc [contentItem]="stDominicStory"></app-h3-doc>
  <p>
    The story is recorded in the book <i>De Dignitate Psalterii</i> by Blessed Alan de la Roche. St. Dominic saw that the gravity of people's sins
    was hindering the conversion of the Albigensians so he withdrew into a forest near Toulouse and prayed unceasingly for three days and three
    nights. He did nothing but weep and do harsh penances to appease the anger of Almighty God. He disciplined his body so much that his body was lacerated
    and he finally fell into a coma.
  </p>
  <p>
    Then Our Lady appeared and told him that the battering ram in this kind of warfare has always been the Angelic Psalter,
    the foundation stone of the New Testament. So she told him he must preach her Psalter to reach hardened souls and win them over to God. 
    He went to the Cathedral  and at once unseen Angels rang the bells to gather the people together so he could preach. 
  </p>
  <p>
    At the beginning of his sermon an appalling storm broke out and shook the earth. The sun was darkened and there was so much thunder and
    lightening that all we very much afraid. There was a picture of Our Lady exposed in a prominent place and they saw her raise her arms to
    Heaven three times to call down God's vegeance upon them if they failed to be converted, amend their lives, and seek the protection of the
    Holy Mother of God.
  </p>
  <p>
    The storm came to an end at the prayer of St. Dominic. He fervently and compellingly explained the importance and value of the Holy Rosary
    so almost all the people of Toulouse embraced it and renounced their false beliefs and began leading Christian lives, giving up their former bad habits.
  </p>

  <h2 [id]="stDominic.id">{{ stDominic.text }}</h2>
  <blockquote>
    <p>
      Inspired by the Holy Spirit, instructed by the Blessed Virgin as well as by his own experience, Saint
      Dominic preached the Rosary for the rest of his life. He preached it by his example as well as by his
      sermons, in cities and in country places, to people of high station and low, before scholars and the
      uneducated, to Catholics and to heretics.
       The Rosary, which he said every day, was his preparation for every sermon and his little tryst with
      our Lady immediately after preaching. 
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Third Rose
    </cite>
  </blockquote>

  <h3 [id]="whyStDominicRecievedRosary.id">{{ whyStDominicRecievedRosary.text }}</h3>
  <p>
    St. Dominic received the rosary from the Blessed Virgin as a weapon which the Blessed Trinity wants to use to convert the Albingensians and reform the world. 
  </p>

  <app-h3-doc [contentItem]="notreDameSermonStory"></app-h3-doc>
  <p>
    St. Dominic had planned to give a sermon at Notre Dame in Paris on the feast of St. John the Evangelist. He was anxious to give a brilliant sermon because of
    the high intellectual stature of the congregation. But an hour before he was going to preach,
    while he was prayerfully preparing by recollectedly sayig his Rosary as he always did before sermons, he fell into ecstasy and
    Our Lady appeared to him with a book and said that, while his sermon was good, hers was better.
    (St. Louis-Marie de Montfort, The Admirable Secret of the Rosary, Third Rose, referencing Carthagena and Blessed Alan de la Roche in De Dignitate Psalterii)
  </p>
  <p>
    In spite of the feast day, St. Dominic only mentioned St. John to say he had been found worthy to be the guardian of the Queen of Heaven. 
    He spoke in the simpliciy of the Holy Spirit to the congregation, which was made up of theologians and other eminent people.
    He preached the Holy Rosary and explained the Hail Mary word by word as he would to children, using simple comparisons and
    examples from every day life (ibid).
  </p>

  <h3 [id]="rosaryWeapon.id">{{ rosaryWeapon.text }}</h3>
  <p>
    St. Dominic used the Rosary as a weapon by spreading devotion to it by through example and zealous preaching for the salvation of souls. 
    (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
    Third Rose)
  </p>

  <app-h3-doc [contentItem]="whyIsPreachingIneffective"></app-h3-doc>
  <p>
    Preaching against sin at the offset is ineffective because the sinner is not in the right frame of mind to really benefit by it.
  </p>

  <h3 [id]="weaponAgainstSin.id">{{ weaponAgainstSin.text }}</h3>
  <p>
    The Rosary is a powerful weapon against sin because places the sinner in the right frame of mind to really benefit from hearing the truth about the evils of sin and the goodness of God.
  </p>

  <app-h3-doc [contentItem]="whyLovePrayer"></app-h3-doc>
  <p>
    Before anything else, priests should kindle a love of prayer in people's hearts because, by perservering, God, in his mercy, could hardly refuse to
    give them His grace. 
  </p>

  <h3 [id]="rainFromHeaven.id">{{ rainFromHeaven.text }}</h3>
  <p>
    The Angelic Salutation is sometimes called “rain from heaven” because it is was the beginning of Almighty God’s plan to renew the earth. 
  </p>

  <h3 [id]="whyPrayHailMaryBeforeSermons.id">{{ whyPrayHailMaryBeforeSermons.text }}</h3>
  <p>
    The Hail Mary is prayed before sermons because Our Lady revealed to St. Dominic that this would allow his sermons to bear the results he hoped for.
    This is why priests say it with the faithful before preaching, to ask for God's grace.
  </p>

  <h3 [id]="whyUrgeTheRosary.id">{{ whyUrgeTheRosary.text }}</h3>
  <p>
    Urging people to pray the Rosary in a sermon allows it to bear fruit because it places people in the right frame of mind to benefit from the preaching. 
    (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
    Third Rose)
  </p>

  <app-h2-doc [contentItem]="blessedAlan"></app-h2-doc>

  <app-h3-doc [contentItem]="whyRosaryWasNeglected"></app-h3-doc>
  <p>
    People began to neglect the Rosary because the Rosary Confraternity lost its first fervor because it is subject to human free will and the devil wanted to block the flow of God’s grace.
  </p>

  <app-h3-doc [contentItem]="consequenceOfNeglect"></app-h3-doc>
  <ol>
    <li>
      In 1349, God punished the whole of Europe with a terrible plague, which brought desolation wherever it came. 
    </li>
    <li>
      The heresy of <a href="http://www.newadvent.org/cathen/06089c.htm">Flagellants</a>
    </li>
    <li>
      The tragic schism in 1376
    </li>
  </ol>

  <app-h3-doc [contentItem]="whyBlessedAlanChosen"></app-h3-doc>
  <p>
    Our Lady chose Blessed Alan de la Roche to revive the Rosary Confraternity because he was one of the Dominican Fathers from the monastery at Dinan in Brittany where the Rosary Confraternity had originally been started. So it was fitting that it should be reestablished there. 
  </p>

  <app-h3-doc [contentItem]="howAlanReceivedMessage"></app-h3-doc>
  <p>
    Blessed Alan received His urgent message after a warning from Our Lord. When he was saying mass, Our Lord spoke to him in the Sacred Host:
  </p>
  <blockquote>
    <p>
      How can you crucify me again so soon?" Jesus said. "What did
      you say, Lord?" asked Blessed Alan, horrified. "You crucified me once before by your sins," answered
      Jesus, "and I would willingly be crucified again rather than have my Father offended by the sins you used to
      commit. You are crucifying me again now because you have all the learning and understanding that you
      need to preach my Mother's Rosary, and you are not doing it. If you only did that, you could teach many
      souls the right path and lead them away from sin. But you are not doing it, and so you yourself are guilty of
      the sins that they commit.
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Fourth Rose
    </cite>
  </blockquote>
  <p>
    Our Lady also appeared to him to inspire him to preach the rosary more and more. 
    St. Dominic also appeared to him and told him how he preached the Holy Rosary and his sermons had borne great fruit and many people had been converted.
  </p>

  <!-- Confraternity -->
  <app-h2-doc [contentItem]="confraternity"></app-h2-doc>

  <app-h3-doc [contentItem]="kindsOfMembership"></app-h3-doc>
  <ul>
    <li>Ordinary: Members who say the entire Rosary (fifteen decades) every week</li>
    <li>Perpetual: Members who say the entire Rosary every year</li>
    <li>Daily: Members who say the entire rosary every day</li>
  </ul>

  <app-h3-doc [contentItem]="failMembershipObligations"></app-h3-doc>
  <p>
    No. It is a voluntary and supererogatory act. 
  </p>

  <app-h3-doc [contentItem]="rosaryClashesWithDuties"></app-h3-doc>
  <p>
    You must give preference to the duties of your state in life and your health. This is in accordance with obedience. 
  </p>

  <app-h3-doc [contentItem]="unableToSayRosary"></app-h3-doc>
  <p>
    Yes, you will still receive the benefits and share in the graces and merits of your brothers and sisters who are saying it throughout the world.
  </p>

  <app-h3-doc [contentItem]="failDueToCarelessness"></app-h3-doc>
  <p>
    As long as you do not have formal contempt for it, you still do not sin. However, you forfeit your participation in the prayers, good works, and merits of the Confraternity.
  </p>
  <blockquote>
    <p>
      Because you
      have not been faithful in things that are little and of supererogation, almost without knowing it you may fall
      into the habit of neglecting big things, such as those duties which bind under pain of sin; for "He that scorns
      small things shall fall little by little." (<i>Ecclus.</i> 19:1).
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Fifth Rose
    </cite>
  </blockquote>
  <!-- /Confraternity -->

  <!-- Mary's Psalter -->
  <app-h2-doc [contentItem]="marysPsalter"></app-h2-doc>

  <app-h3-doc [contentItem]="whyMarysPsalter"></app-h3-doc>
  <p>
    The Rosary was called the Psalter of Jesus and Mary because it has the same number of Angelic Salutations as there are psalms in the Book of the Psalms of David. Since simple and uneducated people were not able to say the Psalms of David the Rosary is held to be just as fruitful for them.
  </p>

  <app-h3-doc [contentItem]="whyBetterThanPsalms"></app-h3-doc>
  <ol>
    <li>It bears the fruit of the Word Incarnate whereas David’s Psalter only prophecies His coming.</li>
    <li>The fruit of the real thing is more important that its prefiguration</li>
    <li>It is the direct work of the Most Blessed Trinity and was not made through a human instrument.</li>
  </ol>

  <app-h3-doc [contentItem]="whyThreeParts"></app-h3-doc>
  <blockquote>
    <p>
      The Psalter or Rosary of our Lady is divided into three chaplets of five decades each, for the
      following reasons:
    </p>
    <ol>
       <li>to honour the three persons of the Blessed Trinity</li>
       <li>to honour the life, death and glory of Jesus Christ</li>
       <li>to imitate the Church triumphant, to help the members of the Church militant, and to bring relief
        to the Church suffering</li>
       <li>to imitate the three groups into which the psalms are divided, the first being for the purgative life,
        the second for the illuminative life, and the third for the unitive life</li>
       <li>to give us graces in abundance during life, peace at death, and glory in eternity</li>
    </ol>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Sixth Rose
    </cite>
  </blockquote>

  <!-- /Mary's Psalter -->

  <!-- Crown of Roses -->
  <app-h2-doc [contentItem]="crownOfRoses"></app-h2-doc>

  <app-h3-doc [contentItem]="whatDoesRosaryMean"></app-h3-doc>
  <p>
    The name “Rosary” means “Crown of Roses”
    (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
    Seventh Rose)
  </p>

  <app-h3-doc [contentItem]="whyCrownOfRoses"></app-h3-doc>
  <p>
    The Rosary is a Crown of Roses because "every
    time people say the Rosary devoutly they place on the heads of Jesus and Mary 153 white roses and sixteen
    red roses. Being heavenly flowers, these roses will never fade or lose their beauty."
    (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">The Admirable Secret of the Rosary,</a>
    Seventh Rose)
  </p>

  <app-h3-doc [contentItem]="prayersSymbolizedAsRoses"></app-h3-doc>
  <p>
    The Rosary is symbolized as being of heavenly flowers. That is, roses that will never fade or lose their exquisite beauty as do temporal things of this world. The prayers are represented by different roses
  </p>
  <ul>
    <li>Hail Mary: White Rose</li>
    <li>Our Father: Red Rose</li>
    <li>Rosary of Five Decades: little wreath of flowers or small crown of heavenly roses</li>
    <li>Entire Rosary: large Crown of Roses</li>
  </ul>

  <app-h3-doc [contentItem]="alphonsusStory"></app-h3-doc>
  <p>
    He said his Rosary with such fervor that he often saw a red rose come out of his mouth at each Our Father and a white rose at each Hail Mary.
  </p>

  <app-h3-doc [contentItem]="youngFrierStory"></app-h3-doc>
  <blockquote>
    <p>
      The chronicles of St. Francis tell of a young friar who had the praiseworthy habit of saying this
      crown of our Lady every day before dinner. One day, for some reason or other, he did not manage to say it.
      The refectory bell had already been rung when he asked the Superior to allow him to say it before coming to
      the table, and, having obtained permission, he withdrew to his cell to pray.
    </p>
    <p>
       After he had been gone a long time, the Superior sent another friar to fetch him, and he found him
      in his room bathed in a heavenly light in the presence of our Lady and two angels. Beautiful roses kept
      issuing from his mouth at each Hail Mary, and the two angels were taking them one by one and placing
      them on our Lady's head, while she smilingly accepted them. Finally, two other friars who had been sent to
      find out what had happened to the first two saw the same scene, and our Lady did not leave until the whole
      Rosary had been said. 
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Seventh Rose
    </cite>
  </blockquote>
  <!-- /Crown of Roses -->

  <!-- Marvels of the Rosary -->
  <app-h2-doc [contentItem]="marvelsOfTheRosary"></app-h2-doc>
  <blockquote>
    <p>
      It is scarcely possible for me to put into words how our Lady esteems the Rosary and how she
      prefers it to all other devotions. Nor can I sufficiently express how wonderfully she rewards those who work
      to make known the devotion, to establish it and spread it nor, on the other hand, how strictly she punishes
      those who work against it. 
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Eighth Rose
    </cite>
  </blockquote>


  <app-h3-doc [contentItem]="stDominicReward"></app-h3-doc>
  <ul>
    <li>Almighty God always granted him what he asked through the Rosary.</li>
    <li>Helped him crush the albigensian heresy</li>
    <li>Made him the founder and patriarch of a great religious order</li>
  </ul>

  <app-h3-doc [contentItem]="blessedAlanReward"></app-h3-doc>
  <p>
    "she graciously appeared to him several times to teach him how to work out his
    salvation, to become a good priest and perfect religious, and how to pattern himself on our Lord.
  </p>
  <p>
    He used to be horribly tempted and persecuted by devils, and then a deep sadness would fall upon
    him and sometimes he would be near to despair. But our Lady always comforted him by her presence,
    which banished the clouds of darkness from his soul.
  </p>
  <p>
    She taught him how to say the Rosary, explaining its value and the fruits to be gained by it; and she
    gave him a great and glorious privilege, which was the honour of being called her new spouse. As a token of 
    her chaste love for him, she placed a ring upon his finger and a necklace made of her own hair about his
    neck and gave him a Rosary."
    (St. Louis-Marie de Montfort,
    <a [href]="app.secretOfTheRosaryLink">
      The Admirable Secret of the Rosary,
    </a>
    Eighth Rose)
  </p>

  <app-h3-doc [contentItem]="whoOurLadyRewards"></app-h3-doc>
  <p>
    "Our Lady not only blesses those who preach her Rosary but she highly rewards all those who, by
    their example, get others to say it."
      (St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Eighth Rose)
  </p>

  <app-h3-doc [contentItem]="kingAlphonsusStory"></app-h3-doc>
  <blockquote>
    <p>
      Alphonsus, King of Leon and Galicia, very much wanted all his servants to honour the Blessed
      Virgin by saying the Rosary, so he used to hang a large rosary on his belt, though he never said it himself.
      Nevertheless, his wearing it encouraged his courtiers to say the Rosary devoutly.
    </p>
    <p>
       One day the King fell seriously ill and when he was given up for dead he found himself, in spirit,
      before the judgment-seat of our Lord. Many devils were there accusing him of all the sins he had
      committed, and our Lord was about to condemn him when our Lady came forward to speak in his favour.
      She called for a pair of scales and had his sins placed in one of the balances, while she put the large rosary
      which he had always worn on the other scale, together with all the rosaries that had been said through his
      example. It was found that the Rosaries weighed more than his sins.
    </p>
    <p>
       Looking at him with great kindness, our Lady said, "As a reward for the little service you did for me
      in wearing my rosary, I have obtained a great grace for you from my Son. Your life will be spared for a few
      more years. See that you spend those years wisely, and do penance."
    </p>
    <p>
       When the King regained consciousness he cried out, "Blessed be the Rosary of the most holy Virgin
      Mary, by which I have been de-livered from eternal damnation."
    </p>
    <p>
       After he had recovered his health, he spent the rest of his life in spreading devotion to the Rosary,
      and said it faithfully every day. 
    </p>
    <cite>
      St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Eighth Rose
    </cite>
  </blockquote>

  <app-h3-doc [contentItem]="whyFollowRosaryDevotions"></app-h3-doc>
  <p>
    People should follow their example "so that they too may win other souls for the Confraternity of the Holy
    Rosary. They will receive great graces here on earth and finally eternal life. 'Those who explain me will
    have life everlasting.' (<i>Ecclus.</i> 24:31)"
      (St. Louis-Marie de Montfort,
      <a [href]="app.secretOfTheRosaryLink">
        The Admirable Secret of the Rosary,
      </a>
      Eighth Rose)
  </p>
  <!-- /Marvels of the Rosary -->

  <!-- Enemies -->
  <app-h2-doc [contentItem]="enemies"></app-h2-doc>
  <app-h3-doc [contentItem]="whoAreEnemies"></app-h3-doc>
  <app-h3-doc [contentItem]="freethinkers"></app-h3-doc>
  <app-h3-doc [contentItem]="dangerOfFreethinkers"></app-h3-doc>
  <!-- /Enemies -->

  <h2 [id]="whyPerserveranceIsImportant.id">{{ whyPerserveranceIsImportant.text }}</h2>
  <p>
    Coming soon...
  </p>

  <h2 [id]="essenceOfRosary.id">{{ essenceOfRosary.text }}</h2>
  <p>
    The Rosary is essentially composed of an introduction followed by twenty “mysteries” (significant events or moments in the life of Jesus and Mary) which are contemplated over the vocal prayers
  </p>
  <ol>
    <li>Vocal Prayers</li>
    <ul>
      <li>Hail Mary</li>
      <li>Our Father</li>
      <li>Glory Be to the Father</li>
    </ul>
    <li>
      <a [href]="seriesOfTheRosary.path">
        Meditations on the Gospel</a>
       (The good news of our salvation through the life, ministry, passion, and resurrection of Jesus)
    </li>
  </ol>
</div>
