<h1>Origin and Name</h1>
<ul>
  <li>
    <a href="{{ whatIsTheRosary.path }}">{{ whatIsTheRosary.text }}</a>
  </li>
  <li>
    <a href="{{ kindsOfPrayer.path }}">{{ kindsOfPrayer.text }}</a>
  </li>
  <li>
    <a href="{{ vocalPrayers.path }}">{{ vocalPrayers.text }}</a>
  </li>
</ul>

<h2 id="{{ whatIsTheRosary.id }}">{{ whatIsTheRosary.text }}</h2>
<p>
  The Rosary is a prayer of meditation on the mysteries of the Gospel
</p>
<blockquote>
  <p>
    The Rosary is a blessed blending of mental and vocal prayer by which we honour and learn to imitate
    the mysteries and the virtues of the life, death, passion and glory of Jesus and Mary.
  </p>
  <cite>
    St. Louis de Montfort,
    <a href="{{ app.secretOfTheRosaryLink }}">
      The Admirable Secret of the Rosary,
    </a>
    First Rose
  </cite>
</blockquote>


<h2 id="{{ kindsOfPrayer.id }}">{{ kindsOfPrayer.text }}</h2>
<p>
  The Rosary consists of two kinds of prayer: vocal prayer and mental prayer.
</p>

<h2 id="{{ vocalPrayers.id }}">{{ vocalPrayers.text }}</h2>
<p>
  The vocal prayers of the Rosary consists in saying twenty decades of the Hail Mary, each headed by an Our Father and followed by a Glory Be to the Father and the optional Fatima prayer.
</p>
